<div class="l_wrapper">
  <div class="{{ resgisterTemplateDisplay ? 'register_reveal l_wrapper_form' : 'login_reveal l_wrapper_form' }}">


    <ng-container *ngIf="resgisterTemplateDisplay; then register_template; else login_template"></ng-container>

    <ng-template #login_template>
      <div class="l-login">
        <div class="l-login__header">
          <p class="title">Have an account ?</p>
        </div>
        <div class="l-login__content" [@enterAnimation]>
          <form [formGroup]="loginForm" (ngSubmit)="passLogingData(loginForm.value)">
            <div class="f-group">
              <input type="text" formControlName="email" placeholder="Email" />
              <p class="err-msg" *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required') && !loginForm.get('email').hasError('email')">This field is required</p>
              <p class="err-msg" *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">Invalid Email</p>
            </div>
            <div class="f-group">
              <input type="password" formControlName="password" placeholder="Password" />
              <p class="err-msg" *ngIf="loginForm.get('password').touched && !loginForm.get('password').hasError('minlength') && loginForm.get('password').hasError('required')">This field is required</p>
              <p class="err-msg" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('minlength') && !loginForm.get('password').hasError('required')">Minimum of 6 characters are required</p>
            </div>
            <div class="f-group">
              <button class="l-button" type="submit" [disabled]="!loginForm.valid">&#8594;</button>
            </div>
            <p class="small" *ngIf="loginForm.valid">Click to enter portal</p>
          </form>
        </div>
        <div class="l-login__footer" [@enterAnimation]>
          <p>Haven't got an account ?
            <button (click)="toggleForm($event)">Register here</button>
          </p>
        </div>
      </div>
    </ng-template>


    <ng-template #register_template>
      <div class="l-register">
        <div class="l-register__header">
          <p class="title">Register an account</p>
        </div>
        <div class="l-register__content" [@enterAnimation]>
          <form [formGroup]="registerForm" (ngSubmit)="passRegisterData(registerForm.value)">
            <div class="f-group">
              <input type="text" formControlName="firstname" placeholder="First Name *" />
              <p class="err-msg" *ngIf="registerForm.get('firstname').touched && registerForm.get('firstname').hasError('required') && !registerForm.get('firstname').hasError('minlength')">Field is required</p>
              <p class="err-msg" *ngIf="registerForm.get('firstname').touched && !registerForm.get('firstname').hasError('required') && registerForm.get('firstname').hasError('minlength')">Minimum length required is 2 characters</p>
            </div>
            <div class="f-group">
              <input type="text" formControlName="lastname" placeholder="Last Name *" />
            </div>
            <div class="f-group">
              <input type="email" formControlName="email" placeholder="Email *" />
              <p class="err-msg" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required') && !registerForm.get('email').hasError('minlength')">Field is required</p>
              <p class="err-msg" *ngIf="registerForm.get('email').touched && !registerForm.get('email').hasError('required') && registerForm.get('email').hasError('email')">Invalid Email</p>
            </div>
            <div class="f-group">
              <input type="password" formControlName="password" placeholder="Password *" />
              <p class="err-msg" *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required') && !registerForm.get('password').hasError('minlength')">Field is required</p>
              <p class="err-msg" *ngIf="registerForm.get('password').touched && !registerForm.get('password').hasError('required') && registerForm.get('password').hasError('minlength')">Minimum length required is 6 characters</p>
            </div>
            <div class="f-group">
              <input type="password" formControlName="confirmPassword" placeholder="Confirm Password *" />
              <p class="err-msg" *ngIf="registerForm.get('confirmPassword').touched && !registerForm.get('confirmPassword').valid">Passwords dont match</p>
            </div>
            <div class="f-group">
              <input type="number" formControlName="phone" placeholder="Phone" />
              <p class="err-msg" *ngIf="registerForm.get('phone').touched && !registerForm.get('phone').valid">Invalid Number</p>
            </div>
            <button class="l-button" [disabled]="!registerForm.valid">&#8594;</button>
          </form>
        </div>
        <div class="l-register__footer" [@enterAnimation]>
          <p>Already a member ?
            <button (click)="toggleForm($event)">Signin here</button>
          </p>
        </div>
      </div>
    </ng-template>

  </div>
</div>
